<h2>Lista de Apostadores:</h2>
<hr>

{{#each usuarios}}

<div class="card">
    <div class="card-body">
        <h4>{{nome}}</h4>
        <h4>{{usuario}}</h4>
        <h4>{{email}}</h4>
        <h4>{{dtnascimento}}</h4>
        <h4>{{senha}}</h4>
    </div>
</div>
{{else}}


{{/each}}